@model TestVm 
<form action="" method="post">
  <label for="name">
<input type="text" asp-for="Name" placeholder="UserName">
  </label><br><br>
  <label for="address">
<input type="text" asp-for="Address"placeholder="Address">
  </label><br><br>
  <label for="phone">
<input type="number" asp-for="Phone" placeholder="PhoneNumber">
  </label><br><br>

 
  <button type="submit">Save</button>
</form>